#content
  h1 Brunch
    img(src='http://brunch.io/images/brunch.png')
  h2 Welcome!
  ul
    li
      a(href='http://brunch.readthedocs.org/') Documentation
    li
      a(href='https://github.com/brunch/brunch/issues') Github Issues
    li
      a(href='https://github.com/brunch/twitter') Twitter Example App
    li
      a(href='https://github.com/brunch/todos') Todos Example App
